body {
    padding: 0;
    margin: 0;
}
nav {
    padding: 0;
    margin: 0;
    width: 100%;
    color: white;
    text-align: center;
    background: linear-gradient(to right, blue, indigo);
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
  }

  .container {
    float: right;
    width: 70%
  }

  .search-sec {
    float: left;
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    width: 20%;
  }

  .search-sec h1 {
    font-size:30px ;
    padding-bottom: 10px;
  }

  .searchBar {
    margin-top: -10px;
    border-radius: 3px;
  }

  #searchBtn {
    background: rgb(60, 141, 216);
    color: white;
    width: 100%;
    margin-top: 10px ;
    border-radius: 3px;
    border: 0;
  }

  #forecast {
    display: flex;
  }

  .today {
    display: flex;
    float: right;
    width: 75%;
    margin-bottom: 50px;
    border:1px solid black;
  }
  
  li:hover {
    background-color: rgba(0, 0, 0, 0.534);
  }

  .forecast {
    float:right;
  }